
body {
  font: normal normal 400 1em 'ADLaM Display', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgb(253, 123, 123);
  margin: 0;
  padding: 0;
  --wr-max: 1140px;
  position: relative;
  --card-bg: rgb(24, 24, 27);
  color: #000000;
  word-wrap: anywhere;
  --color-bg: rgba(204, 49, 196, 0.23);
  background: linear-gradient(to right, #ec75b7, #3c7dd1);
  word-break: break-word;
  --font-text: normal normal 400 1em 'ADLaM Display', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --font-title: normal normal 800 1em 'Libre Franklin', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  --font-system: -apple-system, BlinkMacSystemFont, Segoe UI, Inter, Helvetica, Arial, sans-serif;
  overflow-wrap: anywhere;
  --border-width: 1px;
  text-rendering: optimizeLegibility;
  --color-bg-card: #f8f9fa;
  --fontSize-text: 1em;
  --card-boxShadow: 0px 8px 24px 0px rgba(0,0,0,0.42000000000000004);
  --fontSize-title: 2.5em;
  --color-text-link: rgb(237, 14, 176);
  --card-borderWidth: 0px;
  --card-borderRadius: 10px;
  --color-text-primary: rgb(3, 48, 182);
  --color-border-normal: rgb(255, 255, 255);
  --color-accent-primary: rgb(246, 4, 190);
  --color-text-secondary: rgb(253, 123, 123);
  -webkit-font-smoothing: antialiased;
  --card-textColorPrimary: rgb(255, 255, 255);
  --fontWeight-text-heavy: 400;
  -moz-osx-font-smoothing: grayscale;
  --fontWeight-text-medium: 400;
  -webkit-text-size-adjust: 100%;
  --card-textColorSecondary: rgb(200, 200, 200);
}
.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  max-width: 1100px;
}

.screen {
  position: relative;
  background: #7c4e71;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #b30364;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 12px;
  color: rgb(255, 255, 255);
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #ffffff;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
a, .link {
  color: var(--color-text-link);
  font-weight: var(--fontWeight-text-medium);
  text-decoration: none;
}
a:not(.btn):hover {
  text-decoration: underline;
}
strong {
  font-weight: var(--fontWeight-text-heavy);
}
#measure-layer {
  z-index: -1;
  position: absolute;
  visibility: hidden;
}
.wr {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  box-sizing: border-box;
  max-width: var(--wr-max);
}
@media only screen and (max-width: 700px) {
  .wr {
    padding: 0 15px;
  }
}
.um-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
}
.um-backdrop >
 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.um-backdrop >
 .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.madeWithUmso {
  left: 50%;
  color: rgb(43, 43, 43) !important;
  bottom: 10px !important;
  height: 30px;
  display: flex !important;
  padding: 0 9px;
  z-index: 100;
  position: fixed !important;
  animation: keyframes-badgeFade;
  font-size: 13px;
  background: #fff !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 6px 13px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 500;
  white-space: nowrap;
  margin-right: -70px !important;
  border-radius: 6px;
  text-decoration: none !important;
  transform-origin: 50% 50%;
  animation-duration: 1.3s;
  transition-property: background color;
}
.madeWithUmso svg {
  color: rgb(43, 43, 43);
  width: 66px;
  margin-top: 0;
  transition: filter 0.2s ease-in-out;
  margin-left: 6px;
}
.madeWithUmso:hover {
  color: #fff !important;
  background: #000000 !important;
}
.madeWithUmso.badge--left {
  left: initial;
  margin-left: 10px;
}
.madeWithUmso.badge--right {
  left: 100%;
  margin-left: -165px;
}
.madeWithUmso.badge--center {
  left: 50%;
  margin-left: -70px;
}
@media (max-width: 750px) {
   .madeWithUmso.footerBadge {
    left: 50%;
    margin-left: -70px;
  }
}
.madeWithUmso:hover svg {
  filter: invert(1) saturate(0);
}
@keyframes keyframes-badgeFade {
  0% {
    opacity: 0;
    transform: scale(0.8) translate(0, 10px);
  }
  80% {
    opacity: 0;
    transform: scale(0.8) translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}
.__umsoEditorHighlight:after {
  top: 0;
  left: 0;
  right: 0;
  border: 1px dashed #63a1ff;
  bottom: 0;
  content: "";
  z-index: 9999;
  position: absolute;
  box-shadow: inset 0 0 15px rgba(99, 161, 255, 0.1);
  border-radius: 5px;
  animation-name: keyframes-editorHighlight;
  pointer-events: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes keyframes-editorHighlight {
  0% {
    box-shadow: transparent;
    border-color: transparent;
    background-color: transparent;
  }
  45% {
    box-shadow: inset 0 0 15px rgba(99, 161, 255, 0.3);
    border-color: #63a1ff;
  }
  80% {
    box-shadow: inset 0 0 15px rgba(99, 161, 255, 0.3),;
    border-color: #63a1ff;
  }
  100% {
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
  }
}
.um-gradient-text {
  background: -webkit-linear-gradient(var(--angle), var(--from), var(--to));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  font: normal normal 500 1em var(--font-system), -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: none;
  padding: 0.7em 0.8em;
  position: relative;
  font-size: 14px;
  background: rgb(240, 240, 240);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  align-items: center;
  border-color: rgb(227, 227, 227);
  border-style: solid;
  border-width: 0;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
}
.btn span {
  text-decoration: none;
}
.btn--large {
  font-size: 1.2em;
}
.btn--clear {
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.btn .um-arrow {
  margin-left: 0.4em;
}
.btn svg:not(.um-arrow), .btn img {
  width: initial;
  height: 1.2em;
  margin: -0.1em;
}
.btn--loading {
  cursor: wait;
  pointer-events: none;
}
.btn--loading:after {
  width: 12px;
  border: 2px solid rgba(125, 125, 125, 0.3);
  height: 12px;
  content: '';
  display: inline-block;
  animation: keyframes-buttonLoading;
  margin-left: 0.6em;
  border-radius: 50%;
  animation-duration: 0.8s;
  border-right-color: var(--color-text-secondary);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.btn--error {
  color: #fff !important;
  background: #c92a2a !important;
}
.btn--error:after {
  float: right;
  content: '⚠';
  padding-left: 9px;
}
.btn--success {
  color: #fff !important;
  background: #2f9e44 !important;
}
.btn--success:after {
  float: right;
  content: '✓';
  padding-left: 9px;
}
.btn--success:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  box-shadow: 0 0 0 0 #2f9e443b;
  border-radius: inherit;
  animation-name: keyframes-buttonSuccess;
  pointer-events: none;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
.btn svg:first-child, .btn img:first-child {
  margin-right: 0.4em;
}
.btn svg:last-child, .btn img:last-child {
  margin-left: 0.4em;
}
.btn.btn--icon svg, .btn.btn--icon img {
  width: initial;
  height: 1.2em;
  margin: -0.1em;
}
.btn:hover, .btn:hover span {
  text-decoration: none;
}
.btn.primary {
  color: rgb(255, 255, 255);
  background: rgb(61, 34, 186);
  box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.22);
  border-color: rgb(39, 39, 44);
}
.btn:hover {
  background: rgb(221, 221, 221);
  border-color: rgb(229, 229, 229);
}
.btn.primary:hover {
  color: rgb(255, 255, 255);
  background: rgb(42, 25, 110);
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.37);
  border-color: rgb(39, 39, 44);
}
@keyframes keyframes-buttonSuccess {
  from {
    box-shadow: 0 0 0 0 rgba(47, 158, 68, 0);
  }
  to {
    box-shadow: 0 0 0 5px rgba(47, 158, 68, 0.3);
  }
}
@keyframes keyframes-buttonLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.um-nav-wrapper {
  color: var(--color-text-primary);
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.um-nav-wrapper .um-nav-drawerTrigger {
  display: none;
}
.um-nav-wrapper.um-space-between .um-nav-links {
  padding-left: 30;
  margin-right: auto;
}
.um-nav-wrapper.um-links-centered .um-nav-links {
  flex: 1;
  margin: 0 auto;
}
.um-nav-wrapper.um-links-centered .um-nav-children {
  flex: 1;
  margin-right: 20px;
}
.um-nav-wrapper.um-children-centered .um-nav-links {
  flex: 1;
}
.um-nav-wrapper.um-children-centered .um-nav-children {
  flex: 1;
  margin: 0 auto;
}
.um-nav-wrapper.um-classic .um-nav-children {
  margin-right: auto;
}
.um-nav-wrapper.um-hidden .um-nav-links {
  display: none;
}
.um-nav-wrapper.um-hidden .um-nav-buttons {
  display: none;
}
.um-nav-links {
  margin: 0;
  display: flex;
  padding: 0;
  font-size: 15px;
  list-style: none;
  align-items: center;
}
.um-nav-links >
 li {
  position: relative;
}
.um-nav-links >
 li >
 button {
  font: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 10px;
  background: transparent;
}
.um-nav-links >
 li >
 a {
  font: inherit;
  color: inherit;
  padding: 10px 10px;
  white-space: nowrap;
}
.um-nav-links >
 li:hover .um-nav-flyout {
  display: flex;
}
.um-nav-flyout {
  top: 100%;
  left: 50%;
  width: 250px;
  display: none;
  padding: 10px;
  position: absolute;
  max-width: 250px;
  min-width: 120px;
  transform: translate(-50%);
  background: var(--nav-flyout-bg);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;;
  border-radius: 5px;
}
.um-nav-flyout ul {
  margin: 0;
  display: flex;
  padding: 0;
  flex-grow: 1;
  list-style: none;
  flex-direction: column;
}
.um-nav-item {
  color: var(--color-text-primary);
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 4px;
}
.um-nav-item:hover {
  background: rgba(141,141,141,0.09);
  text-decoration: none !important;
}
.um-nav-item  span {
  color: var(--color-text-secondary);
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
}
.um-nav-item .um-icon {
  flex-shrink: 0;
  margin-right: 15px;
}
.um-nav-buttons {
  display: flex;
  align-items: center;
  margin-left: 20;
}
.um-nav-buttons >
 button, .um-nav-buttons >
 a {
  font-size: 15px !important;
  margin-left: 10px;
}
.um-nav-drawerTrigger {
  width: 3em;
  border: none;
  height: 3em;
  margin: 0;
  padding: 0;
  position: relative;
  background: transparent;
  border-radius: 4px;
}
.um-nav-drawerTrigger:after {
  top: 9px;
  left: 7px;
  width: 26px;
  height: 4px;
  content: '';
  opacity: 0.8;
  position: absolute;
  background: var(--color-text-secondary);
  box-shadow: 0 8px 0 var(--color-text-secondary), 0 16px 0 var(--color-text-secondary);
  border-radius: 2px;
}
.um-nav-drawerTrigger.um-hidden {
  display: none;
}
@keyframes keyframes-navbar {
  0% {
    opacity: 0;
    transform: scale(0.9) translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}
.um-nav-drawer {
  top: 10px;
  right: 10px;
  width: 90%;
  z-index: 999;
  overflow: scroll;
  position: fixed;
  font-size: 15px;
  max-width: 300px;
  background: var(--nav-flyout-bg);
  box-shadow: 0px 10px 50px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  max-height: calc(100vh - 20px);
  border-radius: 10px;
}
.um-nav-drawer.um-hidden {
  display: none;
}
.um-nav-drawer:not(.um-hidden) {
  animation: keyframes-navbar;
  transform-origin: 100% 0;
  animation-duration: 300ms;
}
.um-nav-drawer header {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid var(--color-border-normal);
  justify-content: flex-end;
}
.um-nav-drawer .um-drawer-buttons {
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.um-nav-drawer .um-drawer-links {
  display: flex;
  list-style: none;
  flex-direction: column;
}
.um-nav-drawer .um-drawer-links >
 li {
  border-bottom: 1px solid var(--color-border-normal);
}
.um-nav-drawer .um-drawer-links >
 li >
 button {
  all: unset;
  font: inherit;
  width: 100%;
  cursor: pointer;
  padding: 12px 20px;
  position: relative;
  font-size: 1em;
  box-sizing: border-box;
  font-weight: var(--fontWeight-text-medium);
}
.um-nav-drawer .um-drawer-links >
 li >
 a {
  font: inherit;
  display: block;
  padding: 12px 20px;
  font-size: 1em;
}
.um-nav-drawer .um-drawer-links >
 li >
 ul {
  margin: 0;
  display: none;
  list-style: none;
  margin-top: -5px;
  padding-left: 10px;
  margin-bottom: 10px;
  flex-direction: column;
}
.um-nav-drawer .um-drawer-links >
 li >
 ul >
 li >
 a {
  font: inherit;
  color: inherit;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
.um-nav-drawer .um-drawer-links li.um-open >
 ul {
  display: flex;
}
.um-nav-drawer .um-drawer-links li.um-open button {
  font: inherit;
  color: var(--color-text-secondary);
  opacity: 0.7;
}
.um-nav-drawer .um-drawer-links li.um-open button:before {
  top: calc(50% - 2px);
  transform: rotate(135deg);
}
.um-nav-drawer .um-drawer-links >
 li >
 button:before {
  top: calc(50% - 6px);
  right: 20px;
  width: 7px;
  border: 2px solid var(--color-text-secondary);
  height: 7px;
  content: "";
  opacity: 0.6;
  position: absolute;
  transform: rotate(-45deg);
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-left-radius: 2px;
}
.um-nav-drawer .um-drawer-buttons button {
  width: 100%;
  flex-grow: 1;
  font-size: 15px !important;
  margin-bottom: 10px;
}
.um-nav-drawer .um-drawer-buttons button:last-child {
  margin-bottom: 0;
}
.um-nav-drawer .um-drawer-buttons a {
  width: 100%;
  flex-grow: 1;
  font-size: 15px !important;
  margin-bottom: 10px;
}
.um-nav-drawer .um-drawer-buttons a:last-child {
  margin-bottom: 0;
}
.um-nav-drawer header .um-nav-drawerClose {
  all: unset;
  width: 40px;
  border: none;
  cursor: pointer;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 30px;
  background: transparent;
  text-align: center;
}
.umsoModal {
  top: 50%;
  left: 50%;
  color: black;
  display: block;
  padding: 40px;
  z-index: 10001;
  position: fixed;
  min-width: 500px;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: rgba(14, 18, 22, 0.35) 0px 10px 38px -10px, rgba(14, 18, 22, 0.2) 0px 10px 20px -15px;
  min-height: 300px;
  overflow-y: initial !important;
  border-radius: 10px;
}
.umsoModalOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.44);
}
.umsoModalWrapper {
  display: none;
}
.umsoModalWrapper.umsoModalOpen {
  display: block;
}
  ._58ce83d8 {
  top: 0;
  font: normal normal 400 1em 'Rubik Bubbles', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  left: 0;
  right: 0;
  display: flex;
  z-index: 99;
  position: fixed;
  background: linear-gradient(90deg, rgb(156, 78, 121) 0%, rgb(41, 83, 139) 100%);
  box-shadow: 0px 5px 30px -5px rgba(155, 5, 255, 0.1);
  min-height: 70px;
  align-items: center;
  border-bottom: var(--border-width) solid var(--color-border-normal);
  --border-width: 0px;
  --color-text-primary: rgb(255, 255, 255);
  --color-text-secondary: rgb(255, 0, 0);
}
._5859e61e {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._265f70bf {
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
._265f70bf a {
  color: inherit;
  text-decoration: underline;
}
._157dc3d3 {
  height: 70px;
  display: flex;
  padding: 0 30px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-radius: 5px;
  flex-direction: row;
  --nav-flyout-bg: var(--color-bg);
}
._e45b5504 {
  --nav-flyout-bg: rgb(255, 255, 255);
}
._32caed59 {
  margin: 0;
  margin-right: auto;
}
._32caed59 >
 a, ._32caed59 >
 span {
  font: var(--font-title);
  color: inherit;
  display: flex;
  align-items: center;
  line-height: 0;
}
._32caed59 >
 a:hover, ._32caed59 >
 span:hover {
  text-decoration: none;
}
._32caed59 >
 a >
 div + span, ._32caed59 >
 span >
 div + span {
  margin-left: calc(15px * var(--gap));
}
._b9923f60 {
  display: block;
  max-width: calc(200px * var(--scale));
  max-height: calc(50px * var(--scale));
}
.select-container {
  display: flex; /* Seçenekleri yan yana göstermek için flex kullanın */
  gap: 10px; /* Seçenekler arasındaki boşluk */
}
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 16rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: rgb(56, 6, 6);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: pink;
  }
}
.Sorgula {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }
 
 .Sorgula::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 .Sorgula:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .Sorgula:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }

.EgeYazisi {
  font: normal normal 400 1em 'Abhaya Libre', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgb(125, 248, 10);
  overflow: hidden;
  position: relative;
  background: linear-gradient(radialdeg, rgba(231, 15, 255, 0.43) 0%, rgba(0, 0, 0, 0.35) 100%);
  padding-top: 90px;
  --font-title: normal normal 400 1em 'Share Tech Mono', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  padding-bottom: 10em;
  --color-text-primary: rgb(255, 255, 255);
  --color-text-secondary: rgb(248, 10, 10);  
  height: 300px;
}
._4d01d81a {
  display: flex;
  min-height: 500px;
  align-items: center;
}
@media (max-width: 750px) {
  ._4d01d81a {
    min-height: initial;
    align-items: flex-start;
    flex-direction: column;
  }
}
._515a6cb2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
@media (max-width: 750px) {
  ._515a6cb2 {
    width: 100%;
  }
}
._f2f2ae5f {
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-normal);
  display: flex;
  padding: 0.4em 0.6em;
  font-size: 0.9em;
  transition: background 0.2s ease-in-out;
  border-radius: 2em;
  margin-bottom: 2em;
  text-decoration: none;
}
a._f2f2ae5f:hover {
  text-decoration: none;
}
._f2f2ae5f span {
  margin: 0 0.4em;
}
._f2f2ae5f span:last-child {
  color: var(--color-text-link);
}
._2abb7848 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
._2abb7848 >
 p {
  font-size: 1.3em;
  max-width: 1200px;
}
._2abb7848 >
 h1 {
  font-size: var(--fontSize-title-section, 3.5em);
}
._2abb7848 >
 h2 {
  font-size: var(--fontSize-title-section, 3em);
}
@media (max-width: 750px) {
  ._2abb7848 >
   p {
    font-size: 1em;
  }
  ._2abb7848 >
   h1, ._2abb7848 >
   h2 {
    font-size: 2.5em;
  }
}
._fb01e4ed {
  color: var(--color-accent-primary);
  margin-top: 0;
}
._061c53c9 {
  font: var(--font-title);
  color: var(--color-text-primary);
  margin: 0 0 0 0;
  font-size: var(--fontSize-title);
}
._6685fd13 {
  margin: 10px 0 54px 0;
  font-size: 1.2em;
}
._42a62395 {
  margin: -8px;
  display: flex;
  flex-wrap: wrap;
}
._42a62395 button, ._42a62395 a {
  margin: 8px;
}
._11c5c778 {
  font-size: 1.05em;
}

._1d0eed2d {
  display: block;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}
._1d0eed2d >
 img {
  max-width: 100%;
  max-height: 100%;
}

._53db9b97 {
  display: block;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}
._53db9b97 >
 img {
  max-width: 100%;
  max-height: 100%;
}

._24bc09ef {
  display: block;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}
._24bc09ef >
 img {
  max-width: 100%;
  max-height: 100%;
}
._97865ae8 {
  font: normal normal 400 1em 'Artifika', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  --card-bg: linear-gradient(45deg, rgba(232, 46, 46, 0.3) 0%, rgba(4, 30, 106, 0.3) 100%);
  background: linear-gradient(radialdeg, rgba(252, 124, 124, 0.4) 0%, rgba(6, 37, 129, 0.4) 100%);
  padding-top: 50px;
  --font-title: normal normal 400 1em 'Artifika', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  padding-bottom: 50px;
  --card-boxShadow: 0px 7px 21px 0px rgba(66, 32, 32, 0.64);
  --card-borderColor: rgb(231, 231, 231);
  --card-borderWidth: 2px;
  --card-borderRadius: 100px;
  --color-text-primary: rgb(0, 0, 0);
  --color-text-secondary: rgb(255, 255, 255);
  --card-textColorPrimary: rgb(255, 255, 255);
  --card-textColorSecondary: rgb(0, 0, 0);
}
._621e8364 {
  display: flex;
  flex-direction: column;
}
._00a46be6 {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._012c2ca0 {
  color: var(--color-accent-primary);
  margin-top: 0;
}
._95ba41af {
  font: var(--font-title);
  color: var(--color-text-primary);
  margin: 0 0 0 0;
  font-size: var(--fontSize-title);
}
._ed6b8b81 {
  margin: 0.5em 0 48px 0;
  font-size: 1.2em;
}
._764d0fac {
  color: var(--card-textColorSecondary);
  display: flex;
  flex-wrap: wrap;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  border-radius: var(--card-borderRadius);
}
._764d0fac:empty {
  display: none;
}
@media (max-width: 740px) {
  ._764d0fac {
    flex-direction: column;
  }
}
._c3c0cc25 {
  color: inherit;
  transition: transform 0.2s ease-in-out;
  font-weight: inherit;
  text-decoration: none;
}
._c3c0cc25:hover {
  transform: scale(1.03);
  text-decoration: none !important;
}
._facf5882 {
  display: flex;
  padding: 1em;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  align-items: center;
  border-right: var(--card-borderWidth) solid var(--card-borderColor);
  flex-direction: column;
}
._facf5882:last-child {
  border-right: none;
}
@media (max-width: 740px) {
  ._facf5882 {
    padding: 1em 1.5em;
    border-right: none;
    border-bottom: var(--card-borderWidth) solid var(--card-borderColor);
    flex-direction: column;
    justify-content: space-between;
  }
  ._facf5882:last-child {
    border-bottom: none;
  }
}
._cfada5cc {
  color: var(--card-textColorPrimary, var(--color-text-primary));
  font-size: 1.8em;
  font-weight: var(--fontWeight-text-heavy);
}
._56302183 {
  font-size: 1em;
}
._ab6a7701 {
  font: normal normal 400 1em 'Artifika', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  --wr-max: -1px;
  position: relative;
  --card-bg: linear-gradient(90deg, rgba(146, 41, 170, 0.5) 0%, rgba(84, 24, 88, 0.78) 100%);
  background: linear-gradient(radialdeg, rgba(101, 28, 135, 0.53) 0%, rgba(0, 64, 255, 0.5) 100%);
  padding-top: 3.5em;
  --font-title: normal normal 400 1em 'Artifika', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  padding-bottom: 10em;
  --card-boxShadow: 0px 2px 4px 0px rgba(21, 21, 26, 0.06);
  --card-borderColor: rgb(0, 0, 0);
  --card-borderWidth: 2px;
  --card-borderRadius: 22px;
  --color-text-primary: rgb(0, 0, 0);
  --color-text-secondary: rgb(255, 255, 255);
  --card-textColorPrimary: rgb(255, 255, 255);
  --card-textColorSecondary: rgb(200, 200, 200);
}
._3bb8c08f {
  color: var(--color-accent-primary);
  margin-top: 0;
}
._05a02d8e {
  font: var(--font-title);
  color: var(--color-text-primary);
  margin: 0 0 0 0;
  font-size: var(--fontSize-title);
}
._f795fb6e {
  margin: 0.5em 0 30px 0;
  font-size: 1.2em;
}
._daa84547 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -3em;
  justify-content: space-between;
}
._924d9844 {
  color: var(--card-textColorSecondary);
  width: calc(33.333% - 2em);
  display: flex;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  align-items: flex-start;
  padding-top: 1.6em;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  padding-left: 1.6em;
  border-radius: var(--card-borderRadius);
  margin-bottom: 3em;
  padding-right: 1.6em;
  flex-direction: column;
}
@media (max-width: 700px) {
  ._924d9844 {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  ._924d9844 {
    width: calc(50% - 2em);
  }
}
._f4534766 {
  color: inherit;
  transition: transform 0.2s ease-in-out;
  font-weight: inherit;
  text-decoration: none;
}
._f4534766:hover {
  transform: scale(1.03);
  text-decoration: none !important;
}
._60213da4 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 1em;
  justify-content: center;
}
._60213da4:not(svg):not(img) {
  padding: 0.4em;
}
._60213da4img {
  object-fit: contain;
}
._60213da4 svg {
  position: relative;
}
._58b23f43 {
  color: var(--card-textColorPrimary, var(--color-text-primary));
  margin-top: 0;
  font-weight: var(--fontWeight-text-medium);
  margin-bottom: 0.5em;
}
._34b9f5ea {
  font-size: 0.95em;
  margin-bottom: 1.6em;
}
._f8f654da {
  margin-top: auto;
  margin-bottom: 1.6em;
}
._1accfbb1 {
  font: normal normal 400 1em 'Artifika', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  --card-bg: linear-gradient(0deg, rgba(132, 43, 222, 0.6) 0%, rgba(13, 64, 217, 0.6) 100%);
  background: linear-gradient(radialdeg, rgba(252, 124, 124, 0.6) 0%, rgba(0, 64, 255, 0.6) 100%);
  padding-top: 2.9em;
  --font-title: normal normal 400 1em 'Artifika', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  padding-bottom: 5.3em;
  --card-boxShadow: 0px 6px 16px 0px rgba(0,0,0,0.31000000000000005);
  --card-borderWidth: 1px;
  --card-borderRadius: 30px;
  --color-text-primary: rgb(0, 0, 0);
  --color-text-secondary: rgb(255, 255, 255);
  --card-textColorPrimary: rgb(0, 0, 0);
  --card-textColorSecondary: rgb(255, 255, 255);
}
._a5659a75 {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._41dcc11b {
  margin: 0 0 1em 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
._41dcc11b:not(svg):not(img) {
  padding: 0.4em;
}
._41dcc11bimg {
  object-fit: contain;
}
._41dcc11b svg {
  position: relative;
}
._5af739d7 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
._73ee3518 {
  color: var(--color-accent-primary);
  margin-top: 0;
}
._842363b1 {
  font: var(--font-title);
  color: var(--color-text-primary);
  margin: 0 0 0 0;
  font-size: var(--fontSize-title);
}
._11216ae2 {
  margin: 0.5em 0 30px 0;
  font-size: 1.2em;
  text-align: left;
}
._b0df1e00 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
._5812e4ce {
  color: var(--card-textColorSecondary);
  width: calc(33.33% - 2em);
  margin: 1em;
  display: flex;
  padding: 2em;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  border-radius: var(--card-borderRadius);
  flex-direction: column;
}
@media (max-width: 600px) {
  ._5812e4ce {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  ._5812e4ce {
    width: calc(50% - 2em);
  }
}
._Atadiv {
  color: var(--card-textColorSecondary);
  width: calc(33.33% - 2em);
  margin: 1em;
  padding: 2em;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  border-radius: var(--card-borderRadius);
  flex-direction: column;
  display: none;
}
@media (max-width: 600px) {
  ._Atadiv {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  ._Atadiv {
    width: calc(50% - 2em);
  }
}
._Atadiv.active {
  color: var(--card-textColorSecondary);
  width: calc(33.33% - 2em);
  margin: 1em;
  padding: 2em;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  border-radius: var(--card-borderRadius);
  flex-direction: column;
  display: block;
}
@media (max-width: 600px) {
  ._Atadiv.active {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  ._Atadiv.active {
    width: calc(50% - 2em);
  }
}

.AtaAciklama{

  width: 600px;
  height: 450px;
  margin-top: 30px;
  border-radius: 30px;
}



._Sametdiv {
  color: var(--card-textColorSecondary);
  width: calc(33.33% - 2em);
  margin: 1em;
  padding: 2em;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  border-radius: var(--card-borderRadius);
  flex-direction: column;
  display: none;
}
@media (max-width: 600px) {
  ._Sametdiv {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  ._Sametdiv {
    width: calc(50% - 2em);
  }
}
._Sametdiv.active {
  color: var(--card-textColorSecondary);
  width: calc(33.33% - 2em);
  margin: 1em;
  padding: 2em;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  border-radius: var(--card-borderRadius);
  flex-direction: column;
  display: block;
}
@media (max-width: 600px) {
  ._Sametdiv.active {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  ._Sametdiv.active {
    width: calc(50% - 2em);
  }
}

.SametAciklama{

  width: 600px;
  height: 450px;
  margin-top: 30px;
  border-radius: 30px;
}




._Yigitdiv {
  color: var(--card-textColorSecondary);
  width: calc(33.33% - 2em);
  margin: 1em;
  padding: 2em;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  border-radius: var(--card-borderRadius);
  flex-direction: column;
  display: none;
}
@media (max-width: 600px) {
  ._Yigitdiv {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  ._Yigitdiv {
    width: calc(50% - 2em);
  }
}
._Yigitdiv.active {
  color: var(--card-textColorSecondary);
  width: calc(33.33% - 2em);
  margin: 1em;
  padding: 2em;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  border-radius: var(--card-borderRadius);
  flex-direction: column;
  display: block;
}
@media (max-width: 600px) {
  ._Yigitdiv.active {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  ._Yigitdiv.active {
    width: calc(50% - 2em);
  }
}

.YigitAciklama{

  width: 600px;
  height: 450px;
  margin-top: 30px;
  border-radius: 30px;
}







._fd67a914 {
  color: inherit;
  transition: transform 0.2s ease-in-out;
  font-weight: inherit;
  text-decoration: none;
}
._fd67a914:hover {
  transform: scale(1.03);
  text-decoration: none !important;
}
._241c7c24 {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
._79756493 {
  color: var(--card-textColorPrimary, var(--color-text-primary));
  font-size: 1.1em;
  margin-top: 1em;
  font-weight: var(--fontWeight-text-medium);
  display: block;
}
._fb7a000c {
  color: var(--card-textColorPrimary, var(--color-text-primary));
  display: flex;
  margin-top: 1em;
  font-weight: var(--fontWeight-text-medium);
  margin-bottom: 1em;
  
}
._fb7a000c:empty {
  display: none;
}
._3c7b44fe {
  color: inherit;
  margin: 0 0.3em;
  margin-left: 45px;
}
._a92ee5d6 {
  display: block;
}
._85ba83be {
  position: relative;
  background: linear-gradient(radialdeg, rgba(252, 124, 124, 0.8) 0%, rgba(0, 64, 255, 0.8) 100%);
  padding-top: 50px;
  padding-bottom: 50px;
}
._e5167ffc {
  color: var(--color-accent-primary);
  margin-top: 0;
}
._b1c530f1 {
  font: var(--font-title);
  color: var(--color-text-primary);
  margin: 0 0 0 0;
  font-size: var(--fontSize-title);
}
._0fe2bd15 {
  margin: 0.5em 0 30px 0;
  font-size: 1.2em;
}
._a467cf14 {
  color: var(--card-textColorSecondary);
  display: flex;
  background: var(--card-bg);
  box-shadow: var(--card-boxShadow);
  box-sizing: border-box;
  border-color: var(--card-borderColor);
  border-style: solid;
  border-width: var(--card-borderWidth);
  border-radius: 6px;
  flex-direction: column;
}
._a467cf14:empty {
  display: none;
}
._221d7716 {
  color: inherit;
  transition: transform 0.2s ease-in-out;
  font-weight: inherit;
  text-decoration: none;
}
._221d7716:hover {
  transform: scale(1.03);
  text-decoration: none !important;
}
._c133ec94 .accordion-item:not(.open) .accordion-content {
  display: none;
}
._ad24ed1f {
  padding: 0;
  border-bottom: 1px solid var(--card-borderColor);
}
._ad24ed1f:last-child {
  border-bottom: none;
}
._bb921fb4 {
  color: var(--card-textColorPrimary, var(--color-text-primary));
  margin: 0;
  padding: 1.4em;
  font-size: 1.05em;
  font-weight: var(--fontWeight-text-medium);
}
._bb921fb4:hover {
  cursor: pointer;
  text-decoration: underline;
}
._5d78a69c {
  padding: 0 1.4em 1.2em;
  margin-top: -1.2em;
}
._c4b89fde {
  display: flex;
  padding: 30px 0 60px 0;
  position: relative;
  background: linear-gradient(90deg, rgb(252, 124, 124) 0%, rgb(0, 64, 255) 100%);
  border-top: 1px solid var(--color-border-normal);
}
._bea1daea {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  ._bea1daea {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
}
._c0e4633f {
  font-size: 1em;
}
._a6d0f97b {
  margin-top: 10px;
}
._9fc8f72f {
  display: block;
  max-width: calc(200px * var(--scale));
  max-height: calc(40px * var(--scale));
}
._379aefea {
  display: flex;
  margin-top: 1em;
}
._77e6fd5c {
  color: inherit;
  margin-right: 1em;
}
._77e6fd5c:hover {
  color: var(--color-text-primary);
}
._2cd4f8c5 {
  display: block;
}
._370825cf {
  margin: -10px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  flex-direction: column;
}
._370825cf >
 * {
  margin: 10px;
}
._d1a0a8ea {
  margin: 0;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}
@media (max-width: 500px) {
  ._d1a0a8ea {
    margin-top: 30px;
  }
}
._0fc50e27 {
  margin-left: 80px;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  ._0fc50e27 {
    margin-left: 0;
    margin-right: 50px;
  }
}
._31f6b92b {
  color: var(--color-text-primary);
  margin: 0 0 5px 0;
  font-weight: var(--fontWeight-text-medium);
}
._91687afc {
  margin: 0;
  padding: 0;
  list-style: none;
}
._e0485177 {
  padding: 4px 0;
  font-size: 0.9em;
}
._c288f4a7 {
  color: var(--color-text-secondary);
  padding: 10px 0;
}
.input-div {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(1, 235, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  animation: flicker 2s linear infinite;
}

.icon {
  color: rgb(1, 235, 252);
  font-size: 2rem;
  cursor: pointer;
  animation: iconflicker 2s linear infinite;
}

.input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

@keyframes flicker {
  0% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  }

  5% {
    border: none;
    box-shadow: none;
  }

  10% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  }

  25% {
    border: none;
    box-shadow: none;
  }

  30% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  }

  100% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
  }
}

@keyframes iconflicker {
  0% {
    opacity: 1;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 0.2;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
